@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Tomorrow:wght@400;500&display=swap');

:root {
    --container-width: 1240px;
    --green: #0F3D3E;
}

body {
    font-family: 'Graduate', cursive;
    font-family: 'Tomorrow', sans-serif;
    background-color: #E2DCC8;
    color: #000;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
    margin: 0 auto;
    
}

.li {
    list-style-type: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid var(--green);
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

input[type=name] {
    width: 45%;
    margin-right: 9%;
    padding: 15px 20px 15px 20px; /* Some padding */ 
    border: 2px solid var(--green); 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=mail] {
    width: 45%;
    padding: 15px 20px 15px 20px; /* Some padding */ 
    border: 2px solid var(--green); 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--green);
    color: #fff;
    padding: 10px 54px;
    border: none;
    cursor: pointer;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    text-transform: uppercase;
  }

  .contact__btn {
    text-align: center;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--green);
  }


/*
img, svg {
    max-height: 100% !important ;
    max-width: 100%;
    object-fit: cover;  
}*/ 

/* Header */
.header {
    overflow: hidden;
	position: relative;
    max-height: 600px;
}

.header__top {
    padding: 9px 0;
    border-left: solid 2px #0F3D3E;
    border-right: solid 2px #0F3D3E;
    border-bottom: solid 2px var(--green);
}

.header__bottom {
    display: flex;
    flex-wrap: wrap;
    border-left: solid 2px #0F3D3E;
    border-right: solid 2px #0F3D3E;
    
}

.header__content {
    padding-top: 84px;
    padding-left: 25px;
    padding-bottom: 72px;
    width: 60%;
    /*border-right: solid 2px #0F3D3E;*/
}

.header__title {
    font-family: 'Tomorrow';
    max-width: 478px;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.header__description {
    max-width: 585px;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    /* or 29px */
    text-transform: capitalize;
    padding-bottom: 50px;
}

.header__img {
    width: 40%;
    object-fit: cover;

    border-left: 2px solid #0F3D3E;
}

.header__img__img {
    height: 100%;
    object-fit: cover;
}

.btn__header {
    font-family: 'Graduate';
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
    border-bottom: 2px solid;
}

.btn__header:hover {
    color: var(--green);
    font-size: 36px;
    transition: 0.4s ease-in;
}

/* Nav */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
    display: flex;
	column-gap: 50px;
    font-family: 'Graduate', cursive;
	font-size: 20px;
	font-weight: 400;
    color: #000;
    text-transform: lowercase;
}

.nav__toggle {
	display: none;
}

.nav__list a {
	position: relative;
    color: #000;
}

.nav__list a.active {
    color: var(--green);
}

.nav__list a:hover {
    color: var(--green);
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: '';

	position: absolute;
	left: 0;
	right: 30%;
	bottom: -3px;

	display: block;
	/* width: 35px; */
	height: 2px;
	background-color: var(--green);
}

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 50px;
	--height: 30px;
	--line-height: 6px;
	--color: var(--green);

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: 50px;
	height: 3px;
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: 50px;
	height: 3px;

	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}


/* Logo */
.logo {
    font-family: 'Graduate', cursive;
	font-size: 32px;
	font-weight: 400;
    text-transform: lowercase;
    color: #000;
    padding-left: 25px;
}

.logo a {
	color: inherit !important;
}

.logo:hover {
    scale: 105%;
    transition: 0.3s ease-in;
}

/* Button */
.btn {
    font-family: 'Graduate', cursive;
    font-size: 16px;
    color: var(--green);
    text-transform: lowercase;
    border: 2px solid var(--green);
    padding: 14px 37px;
    margin-right: 9px;
}

.btn:hover {
    background-color: var(--green);
    color: #fff;
}


/* Services */
.services__header {
    height: 124px;
    border-top: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
}

.services__header__title {
    font-family: 'Tomorrow';
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    padding: 35px 0;

    text-transform: uppercase;

    color: #000000;
}

.services__items__top {
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
}

.services__items__bottom {
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
}

.services__title {
    padding-top: 88px;
    text-align: center;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
}

.services__price {
    padding-top: 12px;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.services__descriptions {
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 69px;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
    width: 315px;   
}

.services__btn {
    font-family: 'Graduate';
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 69px;
}

.service__btn {
    font-family: 'Graduate';
    font-weight: 400;
    font-size: 18px;
    width: 196px;
    height: 39px;
    border: 2px solid var(--green);
    padding: 7px 46px;
    text-transform: lowercase;
    color: #000;
}

.service__btn:hover {
    background-color: var(--green);
    color: #fff;
    transition: 0.3s ease-in;
}

.service__item__google {
    width: 40%;
    border-right: 2px solid var(--green);
}

.service__item__facebook {
    width: 60%;
}

.service__item__web {
    width: 60%;
    border-right: 2px solid var(--green);
}

.service__item__smm {
    width: 40%;
}


/* About */
.about__header {
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
}

.about__header__title {
    padding: 35px 0;
    text-align: center;
    font-family: 'Tomorrow';
    font-weight: 500;
    font-size: 36px;

    text-transform: uppercase;

    color: #000000;
}


.about__header__img {
    margin: 0;
    width: 100%;
    max-height: 500px;
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
}

.about__header__bottom {
    display: flex;
    flex-wrap: wrap;
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
}

.about__header__left {
    width: 50%;
    padding: 26px 52px;
    border-right: 2px solid var(--green);
}

.header__left {
    text-align: left;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 200%;
}

.about__header__right {
    width: 50%;
    padding: 26px 52px; 
    
}

.header__right { 
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 200%;
}


/* Team */
.team__top {
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);   
    
}

.team__bottom{
    
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-bottom: 2px solid var(--green);

}

.team__title {
    padding-top: 25px;
    padding-left: 25px;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

.team__item {
    width: 50%;
    border-bottom: 2px solid var(--green);
}

.team__item__bottom {
    width: 50%;
    margin-left: -1px;
    margin-bottom: -1px;
}

.team__img__first {
    display: block;
    padding-top: 59px;
    padding-left: 99px;
    padding-right: 99px;
}

.team__img {
    display: block;
    padding-top: 124px;
    padding-left: 31%;
 /*   padding-right: 99px; */
}

.team__img__markian {
    display: block;
    padding-top: 80px;
    padding-left: 40%;
    /*padding-right: 99px; */
}

.team__img__bottom {
    display: block;
    padding-top: 80px;
    padding-left: 30%;
    /*padding-right: 25%; */
}

.team__name {
    padding-top: 20px;
    text-align: center;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
}

.team__description {
    padding-bottom: 56px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

}

.team__item--first {
    border-right: 2px solid var(--green);
}

.team__item--right {
    width: 100%;
    
}


/* Reviews */
.reviews__title {
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
}

.reviews__title__text {
    padding-top: 50px;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;

    text-transform: uppercase;
}

.slider {
    padding-top: 33px;
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
}

.item {
    max-width: 1134px;
}

.slider__item {
    margin: 0 auto;
    padding-top: 33px;

}

.name__section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 50%;*/
}

.slider__img {
    max-width: 60px;
    height: 60px;

}

.slider__btn {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;

	display: block;
	width: 68px;
	height: 68px;
	border-radius: 50%;

	display: flex;
	align-items: center;
}

.slider__btn--prev {
	left: -27px;
	padding-left: 26px;
	justify-content: flex-start;
}

.slider__btn--next {
	right: -27px;
	padding-right: 26px;
	justify-content: flex-end;
}

.review__text {
    padding: 0 94px;    
    font-family: 'Tomorrow';
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;

    text-align: center;
    text-transform: uppercase;
}

.reviews__name {
    padding-left: 20px;
    padding-top: 30px;
    font-family: 'Tomorrow';
    font-weight: 500;
    font-size: 14px;

    text-transform: uppercase;
}



/* Contact */
.contact__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
    padding: 28px 20px 40px 20px;
}

.contact__title {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    border-right: 2px solid var(--green);
    border-left: 2px solid var(--green);
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 28px;
}

.mapouter {
    max-width: 470px;
    width: 100%;
    border: 2px solid var(--green);
    height: fit-content;
    max-height: 100%;
}

.form__title {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
}

.contact__form {
    border: 2px solid var(--green);
    max-width: 550px;
    width: fit-content;
    background-color: #fff;
    padding: 0 35px 30px 35px;
}

.fname {
    width: 50%;
}

.email {
    width: 50%;
}

.footer__content {
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    padding: 15px 0;
}

.footer__text {
    text-align: center;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    text-transform: uppercase;
    color: var(--green);
}


/* Media */
@media (max-width: 1300px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 1170px) {
    .contact__form {
        max-width: 450px;
    }
}

@media (max-width: 1046px) {
    .mapouter {
        width: 45%;
    }
}

@media (max-width: 1001px) {
    .nav__list {
        column-gap: 40px;
        padding-left: 60px;
    }

    .btn {
        padding: 10px 20px;
    }

    .container {
        padding: 0 40px;
    }

    .header__content {
        max-width: 550px;
    }

    .header__img {
        max-width: 366px;
    }

    /* Services */
    .service__item__google {
        width: 50%;
    }

    .service__item__facebook  {
        width: 50%;
    }

    .service__item__web {
        width: 50%;
        border-bottom: 2px solid var(--green);
    }

    .service__item__smm {
        width: 50%;
        border-bottom: 2px solid var(--green);
    }

    .services__items__bottom {
        border-bottom: none;
    }

    .service__btn {
        padding: 10px 30px;
    }

    .team__item {
        width: 50%;
    }

    .team__item--right {
        width: 100%;
        border-left: none;
    }

    .team__item__bottom {
        width: 50%;
        margin-left: 0;
        margin-bottom: 0;
    }

    .team__img__first {
        padding-left: 25%;
        padding-right: 25%;
    }

    .team__img__markian {
        padding-left: 38% !important;
        padding-right: 38% !important;
    }

    .team__img {
        padding-left: 25%;
        padding-right: 25%; 
    }

    .team__img__bottom {
        padding-left: 25%;
        padding-right: 25%;
    }

    .contact__content {
        padding: 0;
    }

    .mapouter {
        width: 100% !important;
        max-width: none;
        border-right: none;
        border-left: none;
    }

    .contact__form {
        margin-top: 40px !important;
        margin-bottom: 30px !important;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }


}

@media (max-width: 960px) { 
    .btn--book {
        display: none;
    }

    .nav__list {
        align-items: flex-end;
    }

    .header__content {
        width: 60%;
        padding-right: 20px;
    }

    .header__img {
        width: 40%;
        object-fit: cover;
    }
}

@media (max-width: 850px) {
    .container {
        padding: 0 50px ;
    }

    .nav__list {
		display: none;
	}

    .nav {
		column-gap: 50px;
	}

	.nav__list {
		column-gap: 50px;
	}

	.nav__toggle {
		display: block;
        padding-right: 20px;
	}

	.no-scroll {
		overflow-y: hidden;
	}

    .nav--mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;

		flex-direction: column;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;

        background-color: #E2DCC8;
	}   

    .nav--mobile .logo {
		font-size: 34px;
	}
	.nav--mobile .nav__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__list a.active::after,
	.nav--mobile .nav__list a:hover::after {
		display: none;
	}

	.nav--mobile .nav__login {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		font-size: 22px;
	}

	.nav--mobile .nav__toggle {
		position: fixed;
		top: 50px;
		right: 50px;
	}

    .nav__list {
        padding-left: 0;
    }

    .header {
        max-height: fit-content;
    }

    .header__bottom {
        flex-direction: column-reverse;
        width: auto;
    }

    .header__content{
        padding-top: 23px;
        padding-left: 21px;
        padding-right: 21px;
        max-width: fit-content;
        width: fit-content;
    }

    .header__img {
        max-width: 100%;
        width: 100%;
        height: 250px;
        border-left: none;
        border-right: none;
    }

    .header__img__img {
        width: 100%;
    }

    .header__title {
        width: fit-content;
        max-width: none;
        font-size: 30px;
        line-height: 150%;
        padding-bottom: 20px;
    }

    .header__description {
        padding-bottom: 40px;
        max-width: fit-content;
    }

    .btn__header {
        font-size: 32px;
    }

    .service__item__google {
        width: 50%;
    }

    .service__item__facebook {
        width: 50%;
    }

    .service__item__web {
        width: 50%;
    }

    .service__item__smm {
        width: 50%;
    }

    .services__title {
        padding-top: 65px;
        font-size: 26px;
    }

    .services__price {
        font-size: 14px;
        padding-top: 10px;
    }

    .services__descriptions {
        font-size: 18px;
        max-width: 280px;
        padding-bottom: 60px;
        padding-left: 19px;
        padding-right: 19px;
    }

    .services__btn {
        padding-bottom: 50px;
    }

    .about__header__title {
        padding: 19px 0 19px 19px;
        text-align: left;
        font-size: 30px;
    }

    .header__left {
        line-height: 170%;
        max-width: auto;
        font-size: 16px;
        text-align: left;
    }

    .header__right {
        max-width: auto;
    }

    .about__header__left {
        padding: 23px 26px 100px 26px;
    }

    .about__header__right {
        line-height: 170%;
        width: 50%;
        padding: 23px 26px 100px 26px;
    }

    /* Team */
    .team__title {
        padding-left: 19px;
        padding-top: 14px;
        font-size: 30px;
    }

    .team__item {
        width: 50%;
    }

    .team__name {
        padding-top: 35px;
    }

    .team__item--right {
        border-left: none;
    }

    .team__item__bottom {
        width: 50%;
    }

    .team__item--right {
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        
    }

    .team__img {
        padding-top: 108px;
    }

    .team__img__bottom {
        padding-top: 108px ;
    }

    .team__img--markian {
        padding-left: 237px;
        padding-right: 237px;
    }

    .header__img__a {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .btn--book {
        display: none;
    }

    .contact__form {
        max-width: 500px;
    }
}

@media (max-width: 640px) {
    .nav__list {
        display: none;
    }

    .logo {
        font-size: 26px;
    }

    .header__title {
        width: fit-content;
        font-size: 30px;
        line-height: 150%;
    }

    .services__title {
        padding-top: 50px;
    }

    .services__descriptions {
        max-width: fit-content;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 160%;
    }

    .service__item__google {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--green);
    }

    .service__item__facebook {
        width: 100%;
        border-right: none;
    }

    .service__item__web {
        width: 100%;
        border-right: none;
    }

    .service__item__smm {
        width: 100%;
        border-right: none;
    }

    .about__header__title {
        padding-top: 50px;
    }

    .team__img__markian {
        padding-top: 40px !important;
    }

    .team__img__bottom {
        padding-top: 40px;
    }

   .contact__form {
    max-width: 400px;
   }
   
   input[type=name] {
        width: 100%;
    }

    input[type=mail] {
        width: 100%;
    }


}

@media (max-width: 600px) {
    .team__title {
        font-size: 24px;
    }

    .nav__list {
        padding-left: 0; 
    }

    .logo {
        padding-left: 10px;
    }

    .contact__form {
        max-width: 350px;
    }
}

@media (max-width: 540px) {
    .container {
        padding: 0 30px;
    }

    .team__title {
        font-size: 24px;
    }
    
    .team__img {
        padding-top: 101px;
    }

    .team__description {
        padding: 10px 10px 40px 10px;
    }
}

@media (max-width: 494px) {
    .team__img {
        padding-top: 130px;
    }

    .contact__form {
        max-width: 300px;
    }

    .form__title {
        font-size: 20px;
    }
   
}

@media (max-width: 440px) {
    .container {
        padding: 0 30px;
    }

    .header__title {
        font-size: 26px;
    }

    .contact__form {
        max-width: 100% !important;
        width: 100% !important;
        border: 0;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    input[type=text], select, textarea {
        height: 180px;
    }
}
    

@media (max-width: 391px) {
    .container {
        padding: 0 20px;
    }

    .logo {
        padding-left: 10px;
    }

    .header__content {
        max-width: 288px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 10px;
    }

    .header__title {
        max-width: 286px;
        font-size: 18px;
        padding-bottom: 7px;
    }

    .header__description {
        font-size: 14px;
        padding-bottom: 16px;
    }

    .header__img {
        width: 100%;
        height: 135px;
    }

    .header__img__img {
        width: 100%;
        object-fit: cover;
    }

    .btn__header {
        font-size: 20px;
    }


    /* Services */
    .services__header {
        height: auto;
    }

    .services__header__title {
        font-size: 25px;
        padding: 20px 0;
    }

    .services__title {
        padding-top: 35px;
        font-size: 18px;
    }

    .services__price {
        font-size: 12px;
    }

    .services__descriptions {
        font-size: 16px;
        width: fit-content;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        padding-bottom: 50px;
    }

    .service__btn {
        font-size: 14px;
        padding: 7px 15px;
    }

    .services__btn {
        padding-bottom: 45px;
    }

    .header__content {
        padding-bottom: 25px;
    }

    .header__left {
        max-width: 130px;
    }

    .header__right {
        max-width: 130px;
    }

    /* Team */
    .team {
        margin-top: -2px;
    }

    .team__img {
       padding-top: 110.6px; 
    }

    .team__img__first {
        padding-top: 40px;
    }

    .team__img__markian {
        padding-top: 40px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .team__img__bottom {
        padding-top: 40px;
        padding-left: 25%;
        padding-right: 25%;
    } 
}

@media (max-width: 350px) {
    .team__name {
        font-size: 22px;
    }
}